#content-card-planets{
    padding: 85px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card{
    display: flex;
    padding: 35px 35px 50px 35px;
    flex-direction: column;
    background-color: var(--card-bg);
    width: 500px;
    height: 550px;
    border-radius: 30px;
    transition: all 400ms ease-in-out;
}

.card:hover{
    box-shadow: 4px 5px 10px #9e9d9d;
    transform: scale(1.03);
}

.image-planet{
    border-radius: 30px;
    height: 350px;
}

.infos-planet{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.name-planet{
    color: var(--primary-color);
    font-size: 2.8rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.position-planet{
    color: var(--card-color);
    text-transform: uppercase;
    font-size: 1.2rem;

}