footer {
    height: 60px;
    display: grid;
    place-items: center;
    border-top: 1px solid var(--secondary-color);
}

footer p {
    font-size: 0.9rem;
    font-weight: 300;
}

.back-top {
    color: var(--primary-color);
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: grid;
    place-content: center;
    transition: all .5s;
}

.rocket-back-top {
    height: 35px;
    width: 35px;
}